<section class="todoapp">
  <header class="header">
    <h1>Honey Do list</h1>
    <form id="new-form">
      <input type="text" class="new-todo" placeholder="what needs to be done?"/>
    </form>
  </header>

  <section class="main">
    <ul class="todo-list">

    </ul>
  </section>
</section>
<!--moved script to tasks.js  -->
<selection class="author">
A <% link_to "todo-mvc", "http://todomvc.com" %>
application, built by
<% link_to "Tomas Espina", "http://github.com/tespintom" %>

</selection>
